<div class="theme-content">
    <!-- theme-title  -->
    <div class="theme-title">
        <div class="theme-name-wrapper">
            <div class="theme-name">
                <h2>{{theme.themeName}}</h2>
                <p>Date: <time>{{theme.created_at}}</time></p>
            </div>
            <div class="subscribers">
                <p>Subscribers: <span>{{theme.subscribers? theme.subscribers.length : 0}}</span></p>
                <!-- <button class="subscribe">Subscribe</button>
                <button class="unsubscribe">Unsubscribe</button> -->
            </div>
        </div>
    </div>
    <!-- comment  -->
    <div *ngFor="let post of this.theme.posts; let i = index" class="comment">
        <header class="header">
            <p><span>{{post.userId.username}}</span> posted on <time>{{post.created_at}}</time></p>
        </header>
        <div class="comment-main">
            <div class="userdetails">
                <img src="" alt="avatar">
            </div>
            <form *ngIf="isEdit[i]" [formGroup]="editForm" (ngSubmit)="editPost(i)">
                <label for="postText">Post Text</label>
                <textarea name="postText" id="comment" cols="30" rows="5" formControlName="postText"></textarea>
                <button>Submit</button>
            </form>
            <div class="post-content">
                <p>{{post.text}}</p>
            </div>
        </div>
        <div class="footer">
            <!-- <i class="fas fa-thumbs-up"></i>
            <i class="fas fa-thumbs-down"></i> -->
            <button *ngIf="isEdit[i]" (click)="toggleEdit(i)">Cancel</button>
            <button *ngIf="!isEdit[i] && isOwner(post.userId._id)" (click)="toggleEdit(i)">Edit</button>
            <button *ngIf="isOwner(post.userId._id)">Delete</button>
            <button *ngIf="!hasLiked(post)" (click)="likePost(post)">Like</button>
            <p><span>{{post.likes.length || 0}}</span> likes</p>
        </div>
    </div>
    <div class="answer-comment">
        <p><span>{{user.username}}</span> comment:</p>
        <div class="answer">
            <form [formGroup]="form" (ngSubmit)="addPost()">
                <textarea name="postText" id="comment" cols="30" rows="10" formControlName="postText"></textarea>
                <button>Post</button>
            </form>
        </div>
    </div>

</div>