<aside class="flex flex-col gap-4 mt-8">
    <app-loader *ngIf="isloading" class="app-loader" />
    <h2 class="text-center font-bold text-3xl mb-1">
        Recent posts
    </h2>
    <div *ngIf="!isloading" class=" px-6 py-8 flex flex-col gap-4 mt-1">
        
            <div *ngFor="let post of posts" class="border rounded-md px-4 py-4 flex flex-col grow transition-transform transform-gpu hover:scale-95  hover:shadow-inset shadow-hover bg-white">
                <a routerLink={{post.themeId._id}}>
                    <h3 class="font-bold mb-2 text-xl transition-transform transform-gpu hover:text-yellow-300 hover:scale-105">{{post.themeId.themeName}}</h3>
                    <p class="text-xl"><span class="text-sm font-bold">by  </span>{{post.userId.username}}</p>
                    <p class="text-right italic"><span class="opacity-50"><span class="font-bold">Latest activity: </span>{{post.updatedAt | timeAgo}}</span></p>
                </a>
            </div>
        
    </div>
</aside>