.container {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.new-theme-border {
    border: 1px solid black;
    border-radius: 0.4em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

label {
    font-size: 0.7em;
    margin-bottom: 0.5em;
}

.new-theme-border>form {
    display: flex;
    flex-direction: column;
    gap: 1em    ;
}

.new-theme-title {
    display: flex;
    flex-direction: column;
}

.new-theme-title>input, .new-theme-title>textarea {
    padding: 1em;
    border-radius: 0.4em;
    font: inherit;
    font-size: 0.7em;
    margin-bottom: 1em;
    max-width: 600px;
    max-height: 300px;
}

.error {
    color: red;
    font-size: 0.7em;
}