/* .container {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.new-theme-border {
    border-radius: 0.4em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.5);
}

label {
    font-size: 0.7em;
    margin-bottom: 0.5em;
}

.new-theme-border>form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.new-theme-title {
    display: flex;
    flex-direction: column;
}

.new-theme-title>textarea {
    max-width: 500px;
    width: 500px;
    max-height: 300px;
}

.new-theme-title>input,
.new-theme-title>textarea {
    padding: 1em;
    border-radius: 0.4em;
    font: inherit;
    font-size: 0.7em;
    margin-bottom: 1em;

}


.new-theme-buttons{
    display: flex;
}

.btn {
    margin: 0 auto;
    padding: 1em 2em;
    border-radius: 0.4em;
    font: 0.7em "Fira Code";
}

.error {
    color: red;
    font-size: 0.7em;
} */