<div class="container">
    <div class="new-theme-border">
        <div class="header-background">
            <span>New Theme</span>
        </div>
        <form [formGroup]="form" (ngSubmit)="addTheme()">
            <div class="new-theme-title">
                <label for="themeName">Title:</label>
                <input type="text" name="themeName" id="themeName" formControlName="themeName">
                <ng-container *ngIf="form.get('themeName')?.touched">
                    <p *ngIf="form.get('themeName')?.errors?.['required']" class="error">
                        Theme name is required.
                    </p>
                    <p *ngIf="form.get('themeName')?.errors?.['minlength']" class="error">
                        Theme name must be at least 5 characters long.
                    </p>
                </ng-container>
            </div>
            <div class="new-theme-title">
                <label for="postText">Post:</label>
                <textarea type="text" name="postText" id="postText" rows="8" class="height"
                    formControlName="postText"></textarea>
                <ng-container *ngIf="form.get('postText')?.touched">
                    <p *ngIf="form.get('postText')?.errors?.['required']" class="error">
                        The field with your post is required.
                    </p>
                    <p *ngIf="form.get('postText')?.errors?.['minlength']" class="error">
                        Post must be at least 10 characters long.
                    </p>
                </ng-container>
            </div>
            <div class="new-theme-buttons">
                <button class="btn">Cancel</button>
                <button class="btn">Post</button>
            </div>

        </form>
    </div>
</div>