.container {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.register {
    margin-top: 2em;
}

input {
    padding: 1em;
    border-radius: 0.4em;
    width: 100%;
}

form>div {
    /* border: 1px solid black; */
    border-radius: 0.4em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.5);
}

.register-btn {
    margin: 0 auto;
    padding: 1em 2em;
    /* width: 50%; */
    border-radius: 0.4em;
    font: 0.7em "Fira Code";
}

.error {
    color: red;
    font-size: 0.7em;
}